html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.fr {
    background-image: url('../assets/images/background_gold.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
    box-sizing: border-box;
}

.engine__selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.8em;
    margin-top: 20px;
    flex-shrink: 0;
}

.engine__selector label {
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: bisque;
    text-align: center;
}

.engine__selector select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.4em;
    font-size: 5vw;
    line-height: 1.2em;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 5px;
}

.apply__button {
    background-color: #b3815f;
    width: 50vw;
    box-shadow: 0 0.6em 0.4em -0.3em rgba(0, 0, 0, 0.4);
    font-size: 2em;
    padding: 0.5em 1em;
    line-height: 1em;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #2973b2;
    border-radius: 2em;
    color: bisque;
    cursor: pointer;
    transition: all 0.3s ease;
}

.apply__button:hover {
    transform: scale(1.02);
    background-color: #c49674;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fr__title {
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: bisque;
    text-align: center;
    margin-bottom: 20px;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: calc(100% - 8vw);
    max-width: 901px;
    max-height: 901px;
    overflow: hidden;
    border-radius: 20px;
}

.camera-container__mask {
    width: 100%;
    height: 100%;
    position: absolute;
}

.camera-container__video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transform: scaleX(-1);
}

.frame-background-mask {
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.frame-mask {
    color: brown;
    height: 71.5%;
    top: 11.5%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.info__block {
    top: 2.5%;
    transform: translate(-50%);
    width: 51.25%;
    align-items: start;
    background-color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 8px 15px #333b401a;
    box-sizing: border-box;
    color: #333b40;
    display: flex;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 900;
    justify-content: center;
    left: 50%;
    padding: 0.4em 0;
    position: absolute;
    text-align: center;
    z-index: 100;
}

.reset__button {
    background-color: #b3815f;
    width: 80vw;
    box-shadow: 0 0.6em 0.4em -0.3em rgba(0, 0, 0, 0.4);
    font-size: 3em;
    padding: 0.5em 1em;
    line-height: 1em;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #2973b2;
    border-radius: 2em;
    color: bisque;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-shrink: 0;
    display: none;
}

.reset__button:hover {
    transform: scale(1.02);
    background-color: #c49674;
}

@media (max-width: 768px) {
    .fr__title {
        font-size: 2rem;
    }

    .engine__selector label {
        font-size: 1.5rem;
    }

    .engine__selector select {
        font-size: 4vw;
    }

    .apply__button {
        font-size: 1.2em;
        width: 60vw;
    }

    .reset__button {
        font-size: 1.2em;
        width: 70vw;
    }

    .info__block {
        font-size: 20px;
        width: 70%;
    }
}